body {
    background: repeating-linear-gradient(
        60deg,
        #b8ccb5,
        #b8ccb5 40px,
        #cddbcb 40px,
        #cddbcb 80px
    );
    text-align: center;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 300%;
    text-align: left;  
    padding-left: 20px;  
}

p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 24px;
}

.flex-container {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: lightgrey;
}

.flex-item {
    border: 4px solid rgb(150, 150, 150);
    border-radius: 8px;
    width: 260px;
    height: 200px;
    margin: 20px;
    
}

#link {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    border: 2px dashed rgb(150, 150, 150);
    padding: 10px;
    margin: 10px;
}

ul {
    display: inline;
    margin: 1;
    padding: 20px;
    overflow: hidden;
}