body {
    background-color: yellow;
    text-align: center;
}

h1 {
    font-size: 200%;
    background-color: blue;
    text-align: center;
    color: orange;
}

table#projects {
    width: 100%;
    background-color: rgb(200, 200, 200);
}

table#projects tr:nth-child(even) {
    background-color: rgb(200, 0, 150);
}
table#projects tr:nth-child(odd) {
    background-color: rgb(0, 200, 150);
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

p {
    font-size: 24px;
    border: 1px solid rgb(120, 50, 30);
    padding: 10px;
    margin: 50px;
}

#p1 {
    font-size: 30px;
    border: 5px solid rgb(20, 50, 130);
    padding: 20px;
    margin: 20px;
}

p.insult {
    color: rgb(200, 10, 10);
    font-size: 30px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}

#insult {
    color: rgb(0, 10, 10);
    font-size: 30px;
    border: 2px solid rgb(15, 20, 255);
    padding: 10px;
    margin: 10px;
}

ul {
    display: inline;
    margin: 1;
    padding: 1;
    overflow: hidden;
}